body {
    background-image: url("objects/insidespaceship.png");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#scorebord {
    display: flex;
    border-radius: 3px;
    height: 18vh;
    width: 90vw;
    max-width: 85rem;
    margin: 0 auto;
    margin-top: 1.6rem;
    justify-content: center;
}

.logo {
    height: 100%;
    width: 40%;
}

.scorebordName {
    background: rgb(255, 0, 0);
    height: 100%;
    width: 17vw;
    border-left: 2px solid black;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.scorebordScore {
    background: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 3.8rem;
    font-family: "Copse", serif;
    height: 100%;
    align-content: center;
    padding: 0 4vw;
}

.scorebordRobot {
    background: rgb(8, 167, 246);
    height: 100%;
    width: 17vw;
    border-right: 2px solid black;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.scorebordRobotScore {
    background: rgb(8, 167, 246);
    font-weight: bold;
    font-size: 3.8rem;
    font-family: "Copse", serif;
    height: 100%;
    align-content: center;
    padding: 0 4vw;
}

.backArrow {
    height: 4.5rem;
    width: 6rem;
    margin-left: 4rem;
    margin-top: 0.3rem;
    -webkit-transform: scaleX(-1);
    transform: skewX(-1);
    position: absolute;
}

button#rock {
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(objects/rock.jpg);
    background-size: 100% 100%;
    font-weight: bold;
    width:  9rem;
    height:  9rem;
    max-height: 15vh;
    margin-bottom: 5px;
    border-radius: 5px;
}

button#paper {
    border: 2px solid black;
    background-image: url(objects/paper.jpg);
    background-size: 100% 100%;
    font-weight: bold;
    width:  9rem;
    height: 9rem;
    max-height: 15vh;
    margin: 0 1rem;
    border-radius: 5px;
}

button#scissors {
    border: 2px solid black;
    background-image: url(objects/scissors.jpg);
    background-size: 100% 100%;
    font-weight: bold;
    width:  9rem;
    height:  9rem;
    max-height: 15vh;
    margin-bottom: 5px;
    border-radius: 5px;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.robot {
    width: 13rem;
    height: 24rem;
    -webkit-transform: scaleX(-1);
    transform: skewX(-1);
}

.boy {
    width: 200px;
    height: 350px;
}

#playerContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}









.crownRobot {
    height: 150px;
    width: auto;
    position: absolute;
    visibility: hidden;
}


.rockMoveAI {
    height: 65px;
    width: 75px;
    position: absolute;
    visibility: hidden;
}

.paperMoveAI {
    height: 65px;
    width: 65px;
    position: absolute;
    visibility: hidden;
}

.scissorsMoveAI {
    height: 65px;
    width: 65px;
    position: absolute;
    visibility: hidden;
}

.rockMoveUser {
    height: 65px;
    width: 75px;
    -webkit-transform: scaleX(-1);
    transform: skewX(-1);
    position: absolute;
    visibility: hidden;
}

.paperMoveUser {
    height: 65px;
    width: 65px;
    -webkit-transform: scaleX(-1);
    transform: skewX(-1);
    position: absolute;
    visibility: hidden;
}

.scissorsMoveUser {
    height: 65px;
    width: 65px;
    -webkit-transform: scaleX(-1);
    transform: skewX(-1);
    position: absolute;
    visibility: hidden;
}

.crownUser {
    height: 150px;
    width: auto;
    position: absolute;
    visibility: hidden;
}

